.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.csv
*.mp4
*.avi


/AI_Train/Dataset/Data/*
/AI_Train/Dataset/Processed/*
/AI_Train/Dataset/
/AI_Train/FallDataset_mp4
/AI_Train/FallDataset
/AI_Train/NoFallDataset_mp4

# Files over 100 MB (Automatically added)
AI_Train/FallDataset/Office/video (20).avi
AI_Train/FallDataset/Office/video (27).avi
AI_Train/FallDataset/Office/video (26).avi
AI_Train/FallDataset/Office/video (30).avi
AI_Train/FallDataset/Office/video (13).avi
AI_Train/FallDataset/Office/video (3).avi
AI_Train/FallDataset/Office/video (29).avi
AI_Train/FallDataset/Office/video (25).avi
AI_Train/FallDataset/Office/video (33).avi
AI_Train/FallDataset/Office/video (32).avi
AI_Train/FallDataset/Office/video (24).avi
AI_Train/FallDataset/Office/video (28).avi
AI_Train/FallDataset/Office/video (23).avi
AI_Train/FallDataset/Office/video (18).avi
AI_Train/FallDataset/Coffee_room_01/Videos/video (36).avi
AI_Train/FallDataset/Coffee_room_01/Videos/video (11).avi
AI_Train/FallDataset/Coffee_room_01/Videos/video (47).avi
AI_Train/FallDataset/Coffee_room_01/Videos/video (48).avi
AI_Train/FallDataset/Coffee_room_01/Videos/video (43).avi
